<div class="row">
  <div class="col-xs-offset-1">
    <div class="col-xs-11 admins genres_edit_main">
    <h4 class="Menu">ジャンル編集</h4>

    <%= form_for (@genre), url: admins_genre_path(@genre) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <%= f.label :ジャンル %>
      <%= f.text_field :genre_name %>
      <%= f.radio_button :genre_status, :true %>
      <%= f.label :genre_status, "有効"  %>
      <%= f.radio_button :genre_status, :false %>
      <%= f.label :genre_status, "無効" %>
      <%= f.submit "変更を保存する" , class: "btn btn-primary" %>
    <% end %>

    </div>
  </div>
</div>