<div class="row">
  <div class="col-xs-offset-1">
	<div class="col-xs-11 admins customers_edit_main">
	  <h4><%= @customer.last_name.to_s + @customer.first_name.to_s %>さんの会員情報編集</h4>

		<%= form_for (@customer), url: admins_customer_path(@customer) do |f| %>
		<%= render 'layouts/error_messages', model: f.object %>
		  <table class=" table customers-show">
		    <tr>
		  	  <td>会員ID</td>
		  	  <td><%= @customer.id %></td>
		    </tr>
		    <tr>
		  	  <td>氏名</td>
		  	  <td>
		        <div class="last_name">
				  <%= f.text_field :last_name %>
		        </div>
		  	  </td>
		  	  <td>
		        <div class="first_name">
				  <%= f.text_field :first_name %>
		        </div>
		  	  </td>
		    </tr>

		    <tr>
		  	  <td>フリガナ</td>
		  	  <td>
		        <div class="last_name_kana">
				  <%= f.text_field :last_name_kana %>
		        </div>
		  	  </td>
		  	  <td>
		        <div class="first_name_kana">
				  <%= f.text_field :first_name_kana %>
		        </div>
		  	  </td>
		    </tr>
		    <tr>
		  	  <td>郵便番号</td>
		  	  <td>
		        <div class="zipcode">
				  <%= f.text_field :zipcode %>
		        </div>
		  	  </td>
		    </tr>
		    <tr>
		  	  <td>住所</td>
		  	  <td>
		        <div class="address">
				  <%= f.text_field :address%>
		        </div>
		  	  </td>
		    </tr>
		    <tr>
		  	  <td>電話番号</td>
		  	  <td>
		        <div class="tel">
				  <%= f.text_field :tel %>
		        </div>
		  	  </td>
		    </tr>
		    <tr>
		  	  <td>メールアドレス</td>
		  	  <td>
		        <div class="email">
				  <%= f.text_field :email %>
		        </div>
		  	  </td>
		    </tr>

		    <tr>
		  	  <td>会員ステータス</td>
		  	  <td>
		  	    <%= f.radio_button :customer_status, :false %>
      		    <%= f.label :customer_status, "無効"  %>
      		  </td>
      		  <td>
      		    <%= f.radio_button :customer_status, :true %>
      		    <%= f.label :customer_status, "有効" %>
      		  </td>
		    </tr>
		    <tr>
		  	  <td>
		  	  <%= f.submit "変更を保存する" , class: "btn btn-primary" %>
		  	  </td>
		    </tr>
		  </table>
		<% end %>

    </div>
  </div>
</div>