<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="title-box">
      <h4 class="Menu">注文履歴詳細</h4>
    </div>
  </div>
  <div class="col-xs-4 col-xs-offset-1">

    <h5>注文情報</h5>
    <table class="table">
      <tbody>
        <tr>
          <td>注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td>配送先</td>
          <td>
            <%= @order.zipcode %><br>
            <%= @order.send_to_address %><br>
            <%= @order.addressee %>
          </td>
        </tr>
        <tr>
          <td>支払方法</td>
          <td><%= @order.how_to_pay %></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td><%= @order.order_status %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-xs-3">
    <h5>請求情報</h5>
    <table class="table">
      <tbody>
          <tr>
            <td>商品合計</td>
            <td><%= (@total_price).to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <td>配送料</td>
            <td><%= @order.freight %>円</td>
          </tr>
          <tr>
            <td>ご請求額</td>
            <td><%= (@total_price.to_i + @order.freight.to_i).to_s(:delimited) %>円</td>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="col-xs-8 col-xs-offset-1">
    <h5>注文内容</h5>
    <table class="table">
      <thead>
        <tr>
          <th>商品</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.product.name %></td>
            <td><%= order_item.product.tax_price.to_s(:delimited) %>円</td>
            <td><%= order_item.quantity %></td>

            <td><%= (order_item.product.tax_price * order_item.quantity).to_s(:delimited) %>円</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
