
<div class="container">
  <div class="col-xs-offset-1">
    <div class="col-xs-11">
    <h4 class="Menu">管理者ログイン</h4><br>

      <div class="admin-sing_in">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <div class="col-xs-2">
            <%= f.label :メールアドレス %>
          </div>
          <div class="col-xs-1">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-xs-2">
            <%= f.label :パスワード %>
          </div>
          <div class="col-xs-1">
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="row">
            <div class="col-xs-2">
              <%= f.check_box :remember_me %>
              <%= f.label :登録情報保存 %>
            </div>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン" %>
        </div><br>
      <% end %>
    </div>
    </div>
  </div>
</div>
